.git
.claude
**/.claude

node_modules
**/node_modules
.turbo
**/.turbo
dist
**/dist
out
**/out
coverage
**/coverage
.vite
**/.vite
*.tsbuildinfo
**/*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
.tmp-omlx-*
**/.tmp-omlx-*

state
**/state
.local
**/.local
.config
**/.config
accounts.json
**/accounts.json
github_token
**/github_token
settings.json
**/settings.json

.DS_Store
**/.DS_Store
